@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Haute Couture';
    src: url('../fonts/hautecouture-regular-webfont.woff') format('woff'),
         url('../fonts/hautecouture-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply font-haute;
    }
}
 